.container {
  &.spec {
    --color: var(--orange);

    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding-top: 3.75rem;
    gap: 3.75rem;
    transition: opacity 240ms var(--ease-fluid);

    .prose {
      max-width: 42rem;
    }

    .sh-block {
      border: 0.0625rem solid var(--background-color-secondary);
      border-radius: 0.375rem;
    }

    @starting-style {
      opacity: 0;
    }

    @media (max-width: 60rem) {
      flex-direction: column;
      padding-top: 1.125rem;

      .prose {
        max-width: 100%;
      }
    }
  }
}
