.spec {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;
  gap: 3.75rem;
  transition: opacity 250ms var(--ease-fluid);

  .prose {
    max-width: 42rem;
  }

  .sh-block {
    border: 0.0625rem solid var(--background-color-secondary);
    border-radius: 0.375rem;
  }

  .on-this-page {
    display: flex;
    position: sticky;
    top: 6rem;
    flex-direction: column;
    max-width: 12rem;
    height: fit-content;
    gap: 0.75rem;
    font-size: var(--font-size-caption);
    line-height: 1.8;

    h3 {
      font-size: var(--font-size-body);
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  @starting-style {
    opacity: 0;
  }
}
