article.available-everywhere {
  --background-image: url("/images/pro/pro.svg");

  .card-plain {
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background-image: var(--background-image);
      background-size: contain;
      background-position: bottom right;
      background-repeat: no-repeat;
      z-index: 2;
    }
  }

  .content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    .title-wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
    }

    .options-wrapper {
      width: 100%;
      padding: 2.625rem 0 0 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4.5rem;

      .tip {
        width: fit-content;
        position: absolute;
        top: 0;
        display: block;
        text-transform: uppercase;
        letter-spacing: .125rem;
        font-family: var(--font-caveat);
        font-size: .75rem;
        color: var(--yellow);
      }

      .select {
        max-width: 60%;
        min-width: 40%;
      }

      .color-picker {
        width: 100%;
        position: relative;
        overflow: visible;
        display: flex;

        .list {
          width: 100%;
          margin: 0;
          padding: 1rem 0 0 0;
          list-style: none;
          display: inline-flex;
          justify-content: center;
          gap: .75rem;

          li {
            min-width: 6.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5em;
            position: relative;
            cursor: pointer;

            .new {
              padding: .5em;
              position: absolute;
              transform: rotate(20deg) translateY(-50%);
              top: -8%;
              right: 1rem;
              border: .1875rem solid var(--neutral-05);
              border-radius: .25rem;
              line-height: 1;
              text-transform: uppercase;
              font-size: .875rem;
              font-weight: 900;
              color: var(--neutral-06);
              background-color: var(--yellow);
            }

            .preview,
            .name {
              position: relative;
              display: block;
            }

            .preview {
              will-change: outline, outline-offset, transform;
              width: 2.625rem;
              height: 2.625rem;
              outline: 0 solid var(--neutral-02);
              outline-offset: 0;
              border-radius: 50%;
              border: .0625rem solid var(--neutral-05);
              background-color: var(--color);
              transition:
                outline-offset 0.16s ease-in-out,
                transform 0.16s ease-in-out;
            }

            &:focus-within,
            &:hover {
              &:not(.is-active) {
                .preview {
                  outline: .125rem solid var(--neutral-04);
                  outline-offset: .25rem;
                  transform: scale(1.1);
                }
              }
            }

            &.is-active {
              color: var(--neutral-02);

              .preview {
                outline: .25rem solid var(--neutral-02);
                outline-offset: .25rem;
              }
            }
          }
        }
      }
    }

    .preview-wrapper {
      width: 100%;
      position: relative;
      overflow: hidden;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

@media screen and (max-width: 64rem) {
  article.available-everywhere {
    .content {
      .options-wrapper {
        gap: 2.25rem;

        .select {
          width: 100%;
          max-width: 100%;
        }

        .color-picker {
          .list {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}