# Git ignore configuration

## Node artifacts
node_modules/

## System files
.DS_Store
Thumbs.db

## Build output and cache
.vercel/
.next/
build/
*.tsbuildinfo

## Logs
*.log*

## Environment variables
.env*
next-env.d.ts