{
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "paths.ts",
      "options": {
        "printWidth": 500
      }
    }
  ],
  "plugins": ["prettier-plugin-css-order"],
  "cssDeclarationSorterKeepOverrides": true,
  "cssDeclarationSorterOrder": "smacss"
}
