header {
  z-index: 5;
  position: sticky;
  top: 0;
  background-color: var(--background-color-primary);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      color: var(--color-display);
      font-weight: 600;
      font-size: 0.875rem;
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: fit-content;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0;
        padding: 0;
        gap: var(--spacing-medium);
        list-style: none;
      }
    }
  }
}
