section.about {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;

    .title-wrapper {
      width: 100%;
      text-align: center;

      span {
        color: var(--neutral-03);
      }
    }
  }
}
