.container {
  &.about {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    article {
      position: relative;
      max-width: 42rem;
      padding-bottom: 2em;
      corner-shape: squircle;
      border-width: 0 0.0625rem 0.0625rem 0.0625rem;
      border-style: solid;
      border-color: var(--background-color-tertiary);
      background-color: var(--background-color-secondary);

      &:first-child {
        border-top-width: 0.0625rem;
        border-radius: var(--radius-lg) var(--radius-lg) 0 0;
      }

      &:last-child {
        border-radius: 0 0 var(--radius-lg) var(--radius-lg);
      }

      time {
        display: block;
        width: 100%;
        margin-bottom: 2em;
        padding: 1em 2em;
        border-bottom: 0.0625rem solid var(--background-color-tertiary);
        color: var(--color-display);
        font-weight: 600;
      }

      .content {
        display: flex;
        flex-direction: column;
        padding: 0 2em;

        em {
          color: var(--color-display);
          font-weight: 600;
        }

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @media (max-width: 60rem) {
      padding: var(--page-padding-vertical) 0;

      article {
        time {
          margin-bottom: 1.5em;
        }

        .content {
          padding: 0 var(--page-padding-horizontal);
        }
      }
    }
  }

  &.about-highlights {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.375rem;
      text-align: center;

      p {
        color: var(--color-caption);
        font-size: var(--font-size-caption);
      }

      h2 {
        color: var(--color-display);
      }
    }
  }
}
