.container {
  &.about {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    article {
      max-width: 42rem;
      padding-bottom: 2em;
      border: 0.0625rem solid var(--background-color-tertiary);
      background-color: var(--background-color-secondary);

      &:first-child {
        border-bottom: 0.0625rem solid var(--background-color-tertiary);
        border-radius: 1.125rem 1.125rem 0 0;
      }

      &:last-child:not(:first-child) {
        border-top: 0;
        border-radius: 0 0 1.125rem 1.125rem;
      }

      time {
        display: block;
        width: 100%;
        margin-bottom: 2em;
        padding: 1em 2em;
        border-bottom: 0.0625rem solid var(--background-color-tertiary);
        color: var(--color-display);
        font-weight: 600;
      }

      .content {
        display: flex;
        flex-direction: column;
        padding: 0 2em;

        em {
          color: var(--color-display);
          font-weight: 600;
        }

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @media (max-width: 60rem) {
      padding: var(--page-padding-vertical) 0;

      article {
        time {
          margin-bottom: 1.5em;
        }

        .content {
          padding: 0 var(--page-padding-horizontal);
        }
      }
    }
  }
}
