.card-plain {
  padding: 3.75rem 1.875rem;
  position: relative;
  overflow: hidden;
  display: flex;
  border: 0.125rem solid var(--neutral-05);
  border-radius: var(--radius-03);
  background-color: var(--background-color-02);
  background-image: url("/images/pro/polka-dots.svg");
  box-shadow: var(--box-shadow-02);
}
