article.description {
  --size: 4.875rem;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    width: fit-content;
    margin: 0;
    padding: calc(var(--size) / 2) 0;
    gap: var(--text-02);
    line-height: 1;
    font-size: var(--text-02);

    * {
      margin: 0;
      position: relative;
    }

    &::before {
      content: "{";
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: calc(-1 * var(--size));
      line-height: 1;
      font-family: var(--font-jetbrains-mono);
      font-size: var(--size);
      color: var(--color);
    }
  }
}

@media screen and (max-width: 64rem) {
  article.description {
    .text {
      line-height: 1.8;

      &::before {
        opacity: 0.12;
        left: 0;
      }
    }
  }
}
