.counter {
  display: flex;
  align-items: center;
  gap: 0.125em;
  line-height: 1;
  font-family: var(--font-mono);
  pointer-events: none;
  user-select: none;

  .group {
    display: flex;
    gap: 0.125em;
  }

  .digit,
  .separator {
    position: relative;
    width: 2ch;
    height: 2ch;
    overflow: hidden;
    border-radius: 0.1875rem;
    background-color: var(--color-display);
    color: var(--background-color-primary);
    font-variant-numeric: tabular-nums;
  }

  .number {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    inset: 0;
  }
}
