.promo-banner {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: none;
  font-weight: 700;
  color: var(--neutral-06);
  background-color: var(--neutral-01);

  .container {
    align-items: center;
    justify-content: center;
    gap: .5em;
  }

  .icon {
    margin-top: .0625rem;
  }

  &:hover {
    color: var(--neutral-05);
  }
}