:root {
  --hue: 254;
  --main-hue: 250;

  --cyan: hsl(180, 88%, 66%);
  --green: hsl(115, 92%, 66%);
  --orange: hsl(35, 92%, 66%);
  --pink: hsl(330, 92%, 66%);
  --purple: hsl(250, 92%, 66%);
  --red: hsl(10, 92%, 66%);
  --yellow: hsl(60, 92%, 66%);

  --color: hsl(var(--main-hue), 92%, 66%);

  --neutral-01: hsl(var(--hue), 12%, 100%);
  --neutral-02: hsl(var(--hue), 12%, 90%);
  --neutral-03: hsl(var(--hue), 12%, 72%);
  --neutral-04: hsl(var(--hue), 12%, 36%);
  --neutral-05: hsl(var(--hue), 12%, 18%);
  --neutral-06: hsl(var(--hue), 12%, 6%);

  --background-color-01: hsl(var(--hue), 12%, 6%);
  --background-color-02: hsl(var(--hue), 12%, 12%);

  --hero-background-color-01: hsl(var(--main-hue), 24%, 12%);
  --hero-background-color-02: hsl(var(--main-hue), 24%, 30%);

  --overlay-background-color-01: hsla(var(--hue), 12%, 6%, 84%);

  --box-shadow-none: 0 0.0625rem 0.125rem 0 hsla(var(--hue), 0%, 0%, 0);
  --box-shadow-01: 0 0.0625rem 0.125rem 0 hsla(var(--hue), 6%, 0%, 0.06);
  --box-shadow-02: 0 0.125rem 0.25rem 0 hsla(var(--hue), 6%, 0%, 0.06);
  --box-shadow-03: 0 0.25rem 0.5rem 0 hsla(var(--hue), 6%, 0%, 0.06);

  --radius-01: 0.375rem;
  --radius-02: 0.75rem;
  --radius-03: 1.125rem;

  --base-size: 0.875rem;

  --text-01: 0.875rem;
  --text-02: 1rem;
  --text-03: 1.125rem;

  --title-01: 1.5rem;
  --title-02: 1.875rem;
  --title-03: 2.25rem;
  --title-04: 2.625rem;

  --max-width: 64rem;
  --blogpost-max-width: 42rem;
  --negative-top-margin: -10rem;
}

@media screen and (max-width: 64rem) {
  :root {
    --max-width: 100%;
  }
}
