.on-this-page {
  display: flex;
  position: sticky;
  top: 7rem;
  flex-direction: column;
  width: 12rem;
  height: fit-content;
  overflow-x: visible;
  gap: 0.375rem;
  font-size: var(--font-size-caption);

  h3 {
    font-size: var(--font-size-body);
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;

      a {
        display: block;
        position: relative;
        padding: 0.375rem 0;
        text-decoration: none;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          width: 0;
          height: 0;
          transform: translateY(-50%);
          border-radius: 100%;
          background-color: var(--color);
          content: "";
          opacity: 0;
          transition:
            width var(--duration-fast) var(--ease-elastic),
            height var(--duration-fast) var(--ease-elastic),
            opacity var(--duration-standard) var(--ease-fluid);
        }

        span {
          display: block;
          transform: translateX(0);
          transition:
            transform var(--duration-standard) var(--ease-fluid),
            color var(--duration-standard) var(--ease-fluid);
        }

        &[data-state="active"] {
          &::before {
            width: 0.375rem;
            height: 0.375rem;
            opacity: 1;
          }

          span {
            transform: translateX(0.75rem);
            color: var(--color-display);
          }
        }
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    ul {
      li {
        a {
          &::before,
          span {
            transition: none;
          }
        }
      }
    }
  }

  @media (max-width: 60rem) {
    display: none;
  }
}
