.banner {
  background: #f2f2f2;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Fira Code', monospace;
}

.bannerContent {
  color: #000;
  text-align: center;
  width: 100%;
  margin: 0;
}