.container {
  max-width: 67rem;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 1.5rem;
}

.container::after {
  content: "";
  width: 40%;
  height: 0.25rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  border-radius: 0.25rem;
  background-color: hsla(246, 14%, 14%, 0.75);
}

.blogPost {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 20rem;
  padding: 1.125rem 1.125rem 1.625rem 1.125rem;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.375rem;
  text-decoration: none !important;
  text-decoration-line: none !important;
  background-color: hsla(246, 14%, 14%);
  box-shadow: 0 0.25rem 0.25rem hsla(0, 0%, 0%, 0.025);
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.blogPost:hover {
  background-color: hsla(246, 14%, 16%);
  box-shadow: 0 0.375rem 0.25rem hsla(0, 0%, 0%, 0.025);
}

.image {
  width: 100%;
  height: 12.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 0.25rem;
}

.image img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  object-fit: cover;
  object-position: center;
}

.title {
  width: 100%;
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  font-family: var(--title);
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--rgbPurple));
}

.excerpt {
  width: 100%;
  height: auto;
  margin: 0.75rem 0 0 0;
  line-height: 1.5em;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(60, 30%, 96%);
}

@media (max-width: 80rem) {
  .container {
    max-width: 42rem;
    padding: 2rem 2rem 4rem 2rem;
  }

  .blogPost {
    max-width: 100%;
  }
}

@media (max-width: 50rem) {
  .blogPost:nth-child(2) {
    display: none;
  }
}
