.ctaContainer {
  display: flex;
  align-items: center;
  margin: 20px 0 0;
}

.cta {
  transition: all .3s ease-in-out;
  display: inline-block;
  margin: 0 auto;
  background: rgba(80, 250, 123, 1);
  border-radius: 4px;
  text-align: center;
  color: #000;
  font-weight: 400;
  padding: 10px 18px;
  font-size: 18px;
  border: 0 !important;
}

.cta:hover,
.cta:focus {
  background: rgba(80, 250, 123, .8);
}