.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.topbar {
  width: 100%;
  background: #282a36;
  height: 50px;
  padding: 5px;
  position: fixed;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px 0px;
  justify-content: space-between;
  z-index: 1;
}

.cta {
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  background: rgba(80, 250, 123, 1);
  border-radius: 4px;
  text-align: center;
  color: #000;
  font-weight: 400;
  padding: 10px 18px;
  font-size: 18px;
  border: 0;
}

.cta:hover,
.cta:focus {
  border: 0;
  color: #000 !important;
  background: rgba(80, 250, 123, 0.8);
}

.new {
  color: rgba(189, 147, 249, 1);
  position: absolute;
  top: -15px;
  right: 0px;
}

.items {
  position: relative;
}

@media (max-width: 600px) {
  .items {
    display: none;
  }
}
