.container {
  position: relative;
  overflow: hidden;
  background: #7359f8;
  background: linear-gradient(to bottom, #252137 0%, #7359f8 100%);
}

.hero {
  box-sizing: border-box;
  max-width: 75rem;
  margin: 0 auto;
  padding: 10rem 2rem 7rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  z-index: 2;
}

.content,
.videoContainer {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-family: var(--title);
  font-size: 46px;
  line-height: 54px;
  font-weight: 700;
  color: #ffffff;
}

.description {
  width: 80%;
  font-size: 1.25rem;
  line-height: 2rem;
  color: rgb(var(--rgbForeground));
}

.cta {
  background-color: #1b1a23;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 18px;
  text-decoration: none;
  transition: background-color 0.32s ease-in;
  margin-bottom: 1rem;
}

.cta:focus,
.cta:hover {
  background-color: #252137;
}

.video {
  width: 100%;
  min-height: 20rem;
  margin: 0.7rem 0 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.125rem);
}

.video iframe {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
}

.video iframe video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 75rem) {
  .hero {
    flex-direction: column;
  }

  .description {
    width: auto;
  }
}

.stars {
  width: 100%;
  height: 30rem;
  position: absolute;
  top: 10%;
  transform: scale(1.2);
  display: flex;
  justify-content: space-evenly;

  span {
    position: relative;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.8);

    &:nth-child(2n) {
      top: 20px;
    }

    &:nth-child(2n + 1) {
      top: 50px;
      width: 2px;
      height: 2px;
    }

    &:nth-child(2n-1) {
      top: 80px;
    }

    &:nth-child(4) {
      top: 120px;
      left: 100px;
    }

    &:nth-child(12) {
      top: 130px;
      left: 100px;
    }

    &:nth-child(24),
    &:nth-child(7) {
      top: 100px;
      left: 100px;
    }

    &:nth-child(30) {
      top: 150px;
      left: 10px;
    }

    &:nth-child(3) {
      top: 150px;
      left: 10px;
    }

    &:nth-child(10),
    &:nth-child(23),
    &:nth-child(13) {
      top: 140px;
      left: 10px;
    }

    &:nth-child(5),
    &:nth-child(22),
    &:nth-child(31) {
      top: 60px;
      left: 10px;
    }

    &:nth-child(14),
    &:nth-child(21),
    &:nth-child(32) {
      top: 150px;
      left: 10px;
    }

    &:nth-child(25),
    &:nth-child(6) {
      top: 180px;
      left: 10px;
    }

    &:nth-child(34),
    &:nth-child(11),
    &:nth-child(2) {
      top: -12px;
    }

    &:nth-child(33) {
      top: 12px;
    }

    &:nth-child(17) {
      top: 180px;
    }

    &:nth-child(18),
    &:nth-child(1) {
      top: 120px;
      left: -100px;
    }

    &:nth-child(8),
    &:nth-child(19) {
      left: -40px;
      top: 90px;
    }

    &:nth-child(9),
    &:nth-child(15),
    &:nth-child(29) {
      top: -20px;
    }

    &:nth-child(15),
    &:nth-child(26) {
      top: -16px;
      left: 34px;
    }
  }
}

.comets {
  width: 100%;
  height: 30rem;
  position: absolute;
  top: 100px;
  left: 100px;

  span {
    position: absolute;
    z-index: 1;
    height: 4px;
    background: linear-gradient(
      to right,
      rgba(125, 118, 218, 0.015) 0%,
      rgba(255, 255, 255, 0.02) 80%
    );
    border-radius: 14px;
    transform: rotate(14deg);

    &:nth-child(1) {
      width: 180px;
      top: -40px;
      right: -100px;
    }

    &:nth-child(2) {
      width: 90px;
      top: 0;
      left: 200px;
    }

    &:nth-child(3) {
      width: 140px;
      top: 30px;
      left: 60px;
    }

    &:nth-child(4) {
      width: 150px;
      top: 120px;
      left: -70px;
    }

    &:nth-child(5) {
      width: 190px;
      top: 70px;
      right: -20px;
    }

    &:nth-child(6) {
      width: 90px;
      top: 100px;
      right: 100px;
    }
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  width: 100%;
  height: 30rem;
  position: absolute;
  inset: 0;

  span {
    $total: 200;
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;

    @for $i from 1 through $total {
      $random-x: random(1000000) * 0.0001vw;
      $random-offset: random_range(-100000, 100000) * 0.0001vw;
      $random-x-end: $random-x + $random-offset;
      $random-x-end-yoyo: $random-x + ($random-offset / 2);
      $random-yoyo-time: random_range(30000, 80000) / 100000;
      $random-yoyo-y: $random-yoyo-time * 100vh;
      $random-scale: random(10000) * 0.0001;
      $fall-duration: random_range(10, 30) * 1s;
      $fall-delay: random(30) * -1s;

      &:nth-child(#{$i}) {
        opacity: random(10000) * 0.0001;
        transform: translate($random-x, -10px) scale($random-scale);
        animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
      }

      @keyframes fall-#{$i} {
        #{percentage($random-yoyo-time)} {
          transform: translate($random-x-end, $random-yoyo-y)
            scale($random-scale);
        }

        to {
          transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
        }
      }
    }
  }
}

.mountains {
  width: 100%;
  height: 14rem;
  position: absolute;
  bottom: -0.625rem;
  background-image: url('/static/img/shop/layout/mountains.png');
  background-size: 100% 88%;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 1;
}
