.shopHero {
  width: 70%;
  min-height: 64vh;
  margin: 0 auto 4rem;
  padding: 4rem 0 0 0;
  display: flex;
  flex-flow: wrap row;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

.shopHero * {
  -webkit-tap-highlight-color: transparent;
}

.content,
.videoContainer {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-family: 'Abril Text';
  font-size: 3.75rem;
  font-weight: 700;
  color: hsl(115, 100%, 75%);
}

.text {
  width: 80%;
  font-size: 1.25rem;
  color: hsl(0, 0%, 95%);
}

.cta {
  margin: 1rem 0 0 0;
  padding: 0.9375rem 1.25rem;
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(231, 15%, 18%);
  background-color: transparent;
  transition: none;
  z-index: 1;
}

.cta * {
  pointer-events: none;
}

.cta span,
.cta svg {
  z-index: 2;
}

.cta svg {
  width: 1.25rem;
  height: 1.25rem;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: hsl(231, 15%, 18%);
  transition-property: transform;
  transition-duration: 0.16s;
  transition-timing-function: ease-in-out;
}

.cta::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: hsl(115, 100%, 75%);
  transition-property: filter;
  transition-duration: 0.16s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.cta:focus::before,
.cta:hover::before {
  filter: brightness(1.16);
}

.cta:focus svg,
.cta:hover svg {
  transform: translateX(0.125rem);
}

.video {
  width: 100%;
  margin: 2rem 0 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 1.25rem;
  cursor: pointer;
}

.video iframe {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
}

.video iframe video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 90rem) {
  .title {
    font-size: 3.125rem;
  }
}

@media (max-width: 64rem) {
  .shopHero {
    width: auto;
    padding: 0 2rem;
    flex-flow: wrap column;
  }

  .title {
    font-size: 2.5rem;
  }
}
