.container {
  background: #303442;
}

.hero {
  max-width: 75rem;
  margin: 0 auto;
  padding: 10rem 2rem 7rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.content,
.videoContainer {
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: wrap column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-family: var(--title);
  font-size: 46px;
  line-height: 54px;
  font-weight: 700;
  color: rgb(var(--rgbPurple));
}

.description {
  width: 80%;
  font-size: 1.25rem;
  line-height: 2rem;
  color: rgb(var(--rgbForeground));
}

.cta {
  background-color: rgb(var(--rgbPurple));
  border-radius: 8px;
  color: rgb(var(--rgbBackground));
  font-size: 18px;
  font-weight: 400;
  padding: 12px 18px;
  text-decoration: none;
  transition: all 0.3s linear;
  margin-bottom: 1rem;
}

.cta:focus,
.cta:hover {
  background-color: rgba(var(--rgbPurple), 0.7);
}

.video {
  width: 100%;
  margin: 0.7rem 0 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 1.25rem;
}

.video iframe {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
}

.video iframe video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@supports (gap: 1rem) {
  .content h1,
  .content div {
    margin-bottom: 1rem;
  }
}

@media (max-width: 75rem) {
  .hero {
    max-width: 100%;
    flex-direction: column;
  }

  .description {
    width: auto;
  }
}
