.fixed {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.topbar {
  width: 100%;
  background: #282a36;
  height: 50px;
  padding: 5px;
  position: fixed;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px 0px;
  justify-content: space-between;
  z-index: 1;
}

.title {
  display: flex;
}

@media (max-width: 600px) {
  .items {
    display: none;
  }
}

.cart {
  min-width: 30px;
  margin-right: 34px;
  margin-left: 30px;
  position: relative;
  top: 3px;
}

.cartIcon {
  max-width: 16px;
  object-fit: contain;
}
