.authors {
  background: #2a2c37;
}

.author {
  padding: 0 15px;
}

.container {
  margin: 0 auto 100px;
  max-width: 960px;
  display: flex;
  justify-content: space-around;
}

.content {
  border-radius: var(--rounded-2xl);
  background: #1d1e26;
  padding: 30px;
  max-width: 25rem;
  margin-bottom: 40px;
}

.photo {
  width: 200px;
  border-radius: var(--rounded-full);
  margin-bottom: 30px;
}

.container .author:first-child .photo {
  box-shadow: 0px 0px 0px 4px #1d1e26, 0px 0px 0px 6px var(--purple);
}

.container .author:last-child .photo {
  box-shadow: 0px 0px 0px 4px #1d1e26, 0px 0px 0px 6px var(--green);
}

@media (max-width: 960px) {
  .container {
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
  }

  .photo {
    margin: 0 auto 30px;
    display: block;
  }
}

.svgContainerTop {
  display: block;
  position: relative;
  top: 0;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 335" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(34, 33, 44, 1)" d="M 0 50 C 259 50 259 209 518 209 L 518 209 L 518 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(34, 33, 44, 1)" d="M 517 209 C 800 209 800 96 1083 96 L 1083 96 L 1083 0 L 517 0 Z" stroke-width="0"></path> <path fill="rgba(34, 33, 44, 1)" d="M 1082 96 C 1437 96 1437 189 1792 189 L 1792 189 L 1792 0 L 1082 0 Z" stroke-width="0"></path></svg>');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1791px) {
  .svgContainerTop {
    background-size: contain;
  }
}
