.tagline {
  background: #14141b;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 980px;
}

.title {
  text-align: center;
  font-size: 56px;
}

.description {
  text-align: center;
  font-size: 24px;
}

.svgContainerTop,
.svgContainerBottom {
  display: block;
  position: relative;
  top: 0;
  height: 300px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 335" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(34, 33, 44, 1)" d="M 0 50 C 259 50 259 209 518 209 L 518 209 L 518 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(34, 33, 44, 1)" d="M 517 209 C 800 209 800 96 1083 96 L 1083 96 L 1083 0 L 517 0 Z" stroke-width="0"></path> <path fill="rgba(34, 33, 44, 1)" d="M 1082 96 C 1437 96 1437 189 1792 189 L 1792 189 L 1792 0 L 1082 0 Z" stroke-width="0"></path></svg>');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width:1791px) {
  .svgContainerTop,
  .svgContainerBottom {
    background-size: contain;
  }
}

.svgContainerBottom {
  transform: rotate(180deg);
}