.container {
  &.post {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
    gap: 3.75rem;
    transition: opacity var(--duration-standard) var(--ease-fluid);

    @starting-style {
      opacity: 0;
    }

    .content {
      display: flex;
      flex-direction: column;
      max-width: 42rem;

      h1 {
        width: 100%;
        margin-bottom: 0.75rem;
        font-size: var(--font-size-display);
        text-align: left;
      }

      .back-link {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        gap: 0.5rem;
        color: var(--color);
        font-weight: 500;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: var(--color);
        text-underline-offset: 0.1875rem;
        transition: color var(--duration-standard) var(--ease-fluid);

        &:focus,
        &:hover {
          color: var(--color-display);
        }
      }

      .time {
        width: 100%;
        color: var(--color-caption);
        font-size: var(--font-size-caption);
        white-space: nowrap;
      }

      .authors {
        display: flex;
        width: 100%;
        margin: 0.375rem 0 0.75rem;
        gap: 0.5em;

        .author {
          display: flex;
          align-items: center;
          margin-right: 0.25em;
          gap: 0.5rem;
          color: var(--color-caption);
          font-size: var(--font-size-caption);
          line-height: 1;
          text-decoration: none;

          &:focus,
          &:hover {
            color: var(--color);

            .avatar {
              border-color: var(--color);
            }
          }

          .avatar {
            position: relative;
            width: 1.125rem;
            height: 1.125rem;
            overflow: hidden;
            border: 0.0625rem solid var(--color-caption);
            border-radius: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }

      .pro-call-to-action {
        margin-top: 1.875rem;
      }
    }
  }
}
