section.blogpost {
  position: relative;
  z-index: 1;

  .container {
    display: flex;
    justify-content: center;

    article {
      width: var(--blogpost-max-width);
      max-width: 100%;
      margin-top: var(--negative-top-margin);
      display: flex;
      flex-flow: wrap column;
      gap: 1.5rem;

      .cover-image {
        width: 100%;
        display: flex;
        overflow: hidden;
        border-radius: var(--radius-03);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .author-and-date {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        line-height: 1;
        font-weight: 700;

        .avatar {
          width: 1.875rem;
          height: 1.875rem;
          display: flex;
          overflow: hidden;
          border-radius: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      .content-wrapper {
        width: 100%;
        color: var(--neutral-03);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: 1.125rem 0 0 0;
          color: var(--neutral-01);
          font-size: 1.125rem;
        }

        h1,
        h2,
        h3 {
          font-size: 1.875rem;
        }

        a {
          padding: 0;
          display: inline-flex;
          text-decoration: underline var(--color);
          color: var(--color);
        }

        img {
          width: 100%;
          margin: 1.125rem 0 1.5rem 0;
          border-radius: var(--radius-03);
        }
      }
    }
  }
}
