:root {
  --page-max-width: 75rem;
  --page-padding-horizontal: 2rem;
  --page-padding-vertical: 1.5rem;
  --page-sections-spacing: 4rem;

  --font-size-caption: 0.75rem;
  --font-size-body: 0.8125rem;
  --font-size-heading: 1.125rem;
  --font-size-display: 1.875rem;

  --action-min-height: 2.25rem;
  --action-padding: 0 1rem;
  --action-icon-size: 1em;
  --action-border-radius: 0.75rem;

  --spacing-small: 0.5rem;
  --spacing-medium: 0.75rem;
  --spacing-large: 1.125rem;

  --hue: 254;
  --main-hue: 250;

  --cyan: hsl(180, 88%, 66%);
  --green: hsl(115, 92%, 66%);
  --orange: hsl(35, 92%, 66%);
  --pink: hsl(330, 92%, 66%);
  --purple: hsl(250, 92%, 66%);
  --red: hsl(10, 92%, 66%);
  --yellow: hsl(60, 92%, 66%);

  --code-foreground: hsl(60, 26%, 96%);
  --code-comment: hsl(249, 25%, 55%);

  --color: hsl(var(--main-hue), 92%, 66%);

  --color-caption: hsl(var(--hue), 12%, 72%);
  --color-body: hsl(var(--hue), 12%, 78%);
  --color-heading: hsl(var(--hue), 12%, 84%);
  --color-display: hsl(var(--hue), 12%, 90%);

  --background-color-primary: hsl(var(--hue), 12%, 6%);
  --background-color-secondary: hsl(var(--hue), 12%, 12%);
  --background-color-tertiary: hsl(var(--hue), 12%, 18%);

  --background-color-overlay: hsla(var(--hue), 12%, 6%, 84%);

  --hero-background-color-primary: hsl(var(--main-hue), 24%, 12%);
  --hero-background-color-secondary: hsl(var(--main-hue), 24%, 30%);

  --box-shadow-primary: 0 0.0625rem 0.125rem 0 hsla(var(--hue), 6%, 0%, 0.06);
  --box-shadow-secondary:
    0 0.0625rem 0.1875rem 0 hsla(var(--hue), 6%, 0%, 0.12),
    0 0.0625rem 0.125rem -0.0625rem hsla(var(--hue), 6%, 0%, 0.12);
  --box-shadow-tertiary:
    0 0.25rem 0.375rem -0.0625rem hsla(var(--hue), 6%, 0%, 0.12),
    0 0.125rem 0.25rem -0.125rem hsla(var(--hue), 6%, 0%, 0.12);

  --ease-fluid: cubic-bezier(0.36, 0.66, 0.6, 1);
  --ease-sharp: cubic-bezier(0.6, 0.12, 0.34, 0.96);
  --ease-elastic: cubic-bezier(0.42, 0, 0.58, 1.8);
  --ease-impact: cubic-bezier(0.24, 0.9, 0.32, 1.4);
}

@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::selection {
    background-color: var(--purple);
    color: var(--color-display);
    text-shadow: 0.0625rem 0.0625rem 0.125rem hsla(var(--hue), 0%, 0%, 0.6);
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color-primary);
  color: var(--color-body);
  font-size: var(--font-size-body);
  line-height: 1.5;
  font-family: var(--font-sans);
}

header,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main {
  flex-direction: column;
  padding-bottom: var(--page-sections-spacing);
  gap: var(--page-sections-spacing);
}

.container {
  width: 100%;
  max-width: var(--page-max-width);
  padding: var(--page-padding-vertical) var(--page-padding-horizontal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-heading);
  font-weight: 600;
  font-size: var(--font-size-heading);
  text-wrap: balance;
}

p {
  margin: 0;
  text-wrap: pretty;
}

strong,
b,
em {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

figure,
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin: 0;
}

hr {
  position: relative;
  width: 100%;
  height: 0.0625rem;
  margin: 0 auto;
  border: none;
  background-color: var(--background-color-secondary);
}

code,
kbd {
  font-family: var(--font-mono);
}

.action {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-height: var(--action-min-height);
  padding: var(--action-padding);
  gap: 0.5em;
  border: none;
  border-radius: var(--action-border-radius);
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  color: var(--color-body);
  font-weight: 600;
  font-size: inherit;
  text-decoration: none;
  transition:
    background-color 250ms var(--ease-fluid),
    box-shadow 250ms var(--ease-fluid),
    color 250ms var(--ease-fluid);

  &.primary {
    background-color: var(--background-color-secondary);
  }

  &:hover {
    background-color: var(--background-color-tertiary);
    box-shadow: var(--box-shadow-primary);
    color: var(--color-display);
  }
}

.icon {
  pointer-events: none;
  user-select: none;
}

.sr-only {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}

.prose {
  line-height: 1.8;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1em;
    color: var(--color-display);

    a {
      font-weight: inherit;
    }
  }

  a {
    color: var(--color);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--color);
    text-underline-offset: 0.1875rem;
    transition: color 250ms var(--ease-fluid);

    &:focus,
    &:hover {
      color: var(--color-display);
    }
  }

  p,
  ul,
  ol,
  hr {
    margin: 0 0 1em;
  }

  blockquote {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 1.125rem 1.5rem;
    gap: 1em;
    border: 0.0625rem solid var(--background-color-secondary);
    border-radius: 0.375rem;

    * {
      margin: 0;
    }
  }

  table {
    min-width: 100%;
    margin: 2em 0;
    border: 0.0625rem solid var(--background-color-secondary);
    border-radius: 0.375rem;
    border-spacing: 0;
    font-size: var(--font-size-caption);
    text-align: left;

    thead {
      color: var(--color-display);
    }

    th,
    td {
      padding: 0.375rem 0.75rem;
      border-right: 0.0625rem solid var(--background-color-secondary);
      border-bottom: 0.0625rem solid var(--background-color-secondary);

      &:last-child {
        border-right: none;
      }
    }

    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  figure {
    width: 100%;
    margin: 2em 0;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 0.75rem;
    }

    figcaption {
      width: 100%;
      margin-top: var(--spacing-small);
      color: var(--color-caption);
      font-weight: 500;
      font-size: var(--font-size-caption);
      text-align: center;
    }
  }
}
