.home {
  display: flex;
  position: relative;
  gap: 4em;

  aside {
    width: 19rem;
    position: sticky;
    top: 8em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    background-color: var(--background-color-secondary);
    padding: var(--spacing-large);
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow-secondary);

    .search {
      width: 100%;
      position: relative;

      .icon {
        position: absolute;
        left: 1em;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        transform-origin: center;
        transition:
          transform 250ms var(--ease-elastic),
          color 250ms var(--ease-fluid);
      }

      input[type="search"] {
        width: 100%;
        position: relative;
        height: 2.5rem;
        padding: var(--spacing-medium) var(--spacing-medium)
          var(--spacing-medium) 2.5em;
        border-radius: 0.5rem;
        border: none;
        background-color: var(--background-color-primary);
        color: var(--font-display);
        transition:
          background-color 250ms var(--ease-fluid),
          color 250ms var(--ease-fluid),
          outline 250ms var(--ease-fluid);
        outline-color: transparent;

        &::placeholder {
          color: var(--color-body);
        }

        &:hover,
        &:focus,
        &:focus-visible {
          outline-width: 0.125rem;
          outline-style: solid;
          outline-color: var(--background-color-tertiary);
        }
      }

      &:has(input[type="search"]:focus) {
        .icon {
          transform: rotate(-6deg) translateY(-50%);
          color: var(--color-display);
        }
      }
    }

    .filter-group {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-small);

      .label {
        display: block;
        width: 100%;
        font-weight: 600;
        margin: 0.375rem 0 0.375rem 0.5rem;
        color: var(--color-display);
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: fit-content;
        background-color: var(--background-color-primary);
        padding: 0.5rem 0.875rem;
        border-radius: var(--action-border-radius);
        font-weight: 600;
        transition: width 250ms var(--ease-elastic);
        gap: 0.5em;

        input[type="radio"] {
          display: none;

          &:checked + .icon {
            display: block;
            color: var(--green);

            path {
              animation: drawTick 500ms var(--ease-fluid) forwards;
            }
          }
        }

        .icon {
          display: none;
          transition: display 250ms var(--ease-elastic);

          path {
            stroke-dasharray: 24;
            stroke-dashoffset: 24;
          }
        }

        &:hover,
        &:focus,
        &:focus-visible {
          outline-width: 0.125rem;
          outline-style: solid;
          outline-color: var(--background-color-tertiary);
        }

        &:has(input[type="radio"]:checked) {
          width: auto;
          transform-origin: left;
          overflow: clip;
        }
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    li {
      width: 16rem;
      height: 8rem;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-large);
      background-color: var(--background-color-secondary);
      border-radius: 0.75rem;
      outline-color: transparent;
      box-shadow: var(--box-shadow-secondary);
      transition:
        background-color 250ms var(--ease-fluid),
        outline 250ms var(--ease-fluid);

      a {
        padding: var(--spacing-large);

        h3 {
          font-size: 1em;
        }
      }

      &:hover,
      &:focus,
      &:focus-visible {
        background-color: var(--background-color-primary);
        outline-width: 0.125rem;
        outline-style: solid;
        outline-color: var(--background-color-tertiary);
      }
    }
  }
}

@keyframes drawTick {
  to {
    stroke-dashoffset: 0;
  }
}
