section.home {
  min-height: 25rem;
  scroll-margin-top: 6.25rem;

  .container {
    display: flex;
    align-items: flex-start;
    gap: 2.25rem;

    .title-wrapper {
      width: 100%;
    }

    .side-wrapper {
      max-width: 22rem;
      position: sticky;
      top: 6.25rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1.125rem;
    }

    .themes-sidebar {
      width: 100%;
      padding: 1.125rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.125rem;
      border-radius: var(--radius-02);
      background-color: var(--background-color-02);

      .filter-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.375rem;
        border: none;

        .title {
          width: 100%;
          margin-bottom: 0.375rem;
          font-family: var(--font-inter);
          font-weight: 700;
        }

        .search-wrapper {
          position: relative;
          display: block;
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 1;

          input {
            width: 100%;
            padding: 0.75rem 0.375rem 0.75rem 2.625rem;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            outline: none;
            border-radius: var(--radius-01);
            border: 0.125rem solid var(--background-color-01);
            cursor: pointer;
            font-family: inherit;
            font-size: inherit;
            font-weight: 500;
            color: var(--neutral-03);
            background-color: var(--background-color-01);
            transition: border-color 0.32s ease;

            &::placeholder {
              font-family: inherit;
              font-size: inherit;
              color: inherit;
              transition: color 0.16s ease;
            }
          }

          .icon {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 1.5rem;
            transition: color 0.16s ease;
          }

          &:focus-within,
          &:hover {
            input {
              border-color: var(--neutral-04);
            }

            .icon {
              color: var(--green);
            }
          }
        }

        .option {
          width: fit-content;
          padding: 0.75rem 1.125rem;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
          border-radius: var(--radius-01);
          border: 0.125rem solid var(--background-color-01);
          cursor: pointer;
          line-height: 1;
          text-decoration: none;
          font-size: var(--text-01);
          font-weight: 700;
          background-color: var(--background-color-01);
          transition:
            border-color 0.32s ease,
            transform 0.16s ease;

          input {
            width: 0;
            height: 0;
            position: absolute;
            inset: 0;
            visibility: hidden;

            &:checked {
              ~ span {
                color: var(--green);
              }
            }
          }

          span {
            color: var(--neutral-04);
            transition: color 0.16s ease;

            &.icon {
              width: 0.75rem;
              height: 0.75rem;

              svg.unchecked {
                width: 0.5em;
                height: 0.5em;
              }
            }
          }

          &:hover {
            border-color: var(--neutral-04);

            span {
              color: var(--neutral-02);
            }
          }

          &:active {
            transform: scale(0.96);
          }
        }
      }
    }

    .apps-wrapper {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.75rem;

      .apps-grid {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.75rem;
        list-style: none;

        .app {
          width: 20rem;
          padding: 2rem;
          display: flex;
          align-items: center;
          gap: 2rem;
          border-radius: var(--radius-02);
          border: 0.125rem solid var(--background-color-02);
          text-decoration: none;
          background-color: var(--background-color-02);
          transition: background-color 0.32s ease-in-out;

          .icon {
            width: 5rem;
            height: 5rem;
            display: flex;

            img,
            svg {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
          }

          .content {
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 0.375rem;
            line-height: 1.5;

            .title,
            .views {
              text-align: left;
            }

            .title {
              font-size: var(--text-02);
            }

            .views {
              color: var(--neutral-04);
            }
          }

          &:focus-within,
          &:hover {
            background-color: var(--background-color-01);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 64rem) {
  section.home {
    .container {
      flex-direction: column;

      .title-wrapper {
        text-align: center;
      }

      .side-wrapper {
        display: none;
      }

      .apps-wrapper {
        .apps-grid {
          justify-content: center;

          li {
            width: 100%;

            .app {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
