.search-wrapper {
  position: relative;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  input {
    width: 100%;
    padding: 0.75rem 0.375rem 0.75rem 2.625rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    outline: none;
    border-radius: var(--radius-01);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: var(--neutral-02);
    background-color: var(--background-color-02);

    &::placeholder {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }
  }

  .icon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: color 0.16s ease;

    &.search {
      left: 1.5rem;
    }

    &.cmdk {
      padding: 0.375rem 0.75rem;
      border-radius: var(--radius-01);
      background-color: var(--background-color-01);
      left: calc(100% - 2.5rem);
    }
  }

  &:focus-within,
  &:hover {
    .icon {
      color: var(--color);
    }
  }
}

[cmdk-overlay] {
  will-change: opacity;
  position: fixed;
  inset: 0;
  bottom: 0;
  background-color: var(--overlay-background-color-01);
  backdrop-filter: blur(0.375rem);
  animation: overlay-show 0.16s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 3;
}

[cmdk-dialog] {
  will-change: opacity;
  width: 100%;
  max-width: 40rem;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--color);
  background: var(--overlay-background-color-01);
  box-shadow: var(--box-shadow);
  animation: overlay-show 0.16s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 4;
}

[cmdk-root] {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cmd-input-wrapper {
  position: relative;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  [cmdk-input] {
    width: 100%;
    padding: 1rem 0.5rem 1rem 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    outline: none;
    border-radius: var(--radius-01);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    color: var(--neutral-02);
    background-color: var(--background-color-02);

    &::placeholder {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }
  }

  .icon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: color 0.16s ease-in-out;

    &.search {
      left: 1.5rem;
    }

    &.cmdk {
      padding: 0.5rem 1rem;
      left: calc(100% - 2.5rem);
      border-radius: var(--radius-01);
      background-color: var(--background-color-01);
    }
  }

  &:focus-within,
  &:hover {
    .icon {
      color: var(--color);
    }
  }
}

[cmdk-list] {
  height: min(20rem, calc(var(--cmdk-list-height)));
  max-height: 25rem;
  overflow: auto;
  overscroll-behavior: contain;
  transition: height 0.32s ease-in-out;
}

[cmdk-list-sizer] {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

[cmdk-item] {
  content-visibility: auto;
  will-change: background, color;
  min-height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  font-size: var(--text-01);
  color: var(--neutral-02);
  transition:
    color 0.16s ease-in-out,
    background-color 0.16s ease-in-out;

  &[data-selected="true"] {
    color: var(--neutral-01);
    background-color: var(--neutral-05);
  }

  &[data-disabled="true"] {
    cursor: not-allowed;
    color: var(--neutral-03);
  }

  &:active {
    background-color: var(--color);
  }
}

[cmdk-separator] {
  width: 100%;
  height: 0.0625rem;
  background: var(--neutral-03);
}

[cmdk-group-heading] {
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  user-select: none;
  font-size: var(--text-02);
  color: var(--neutral-02);
}

[cmdk-empty] {
  white-space: pre-wrap;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-02);
  color: var(--neutral-03);
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
