.container {
  &.newsletter {
    --color: var(--red);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--page-sections-spacing) 0 0 0;

    .wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: fit-content;
      max-width: 37.5rem;
      padding-top: 2.625rem;
      overflow: hidden;
      gap: 0.375rem;
      border: 0.0313rem solid var(--background-color-tertiary);
      corner-shape: squircle;
      border-radius: var(--radius-lg);
      background-color: var(--background-color-secondary);

      h1 {
        width: 100%;
        padding: 0 2.625rem;
        text-align: center;
      }

      h2 {
        padding: 0 2.625rem;
        font-weight: 500;
        font-size: var(--font-size-body);
        text-align: center;
      }

      .benefits {
        margin: 1.5rem 0 0 0;

        li {
          margin: 0.375rem 0;
        }
      }

      .form-wrapper {
        display: grid;
        place-items: center;
        width: 100%;
        margin: 1.5rem 0;
        padding: 0 2.625rem;
        gap: 0.75rem;
        text-align: center;

        .tip {
          em {
            font-style: normal;
            font-weight: 700;
          }
        }

        .form {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 0.75rem;

          .input-wrapper {
            display: flex;
            align-items: stretch;
            margin-bottom: 0.75rem;
            padding: 0 0.75rem;

            input,
            button {
              &:disabled {
                cursor: not-allowed;
              }
            }

            input {
              display: flex;
              flex-grow: 1;
              flex-shrink: 1;
              flex-basis: 0;
              align-items: center;
              min-width: 0;
              padding: 0.75rem;
              gap: 0.75rem;
              border: 0.0625rem solid var(--color);
              corner-shape: squircle;
              border-radius: var(--radius-sm) 0 0 var(--radius-sm);
              background-color: var(--background-color-secondary);
              color: var(--color-display);
              font-size: 1rem;
              font-family: inherit;

              &:disabled {
                color: var(--color-caption);
              }
            }

            button {
              padding: 0 1.125rem;
              border: 0.0625rem solid var(--color);
              border-left: 0;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              background-color: var(--color);
              color: var(--background-color-primary);
              transition:
                border-color 240ms var(--ease-fluid),
                background-color 240ms var(--ease-fluid),
                color 240ms var(--ease-fluid);

              &:hover {
                border-color: var(--color);
                outline: none;
                background-color: var(--background-color-primary);
                color: var(--color);
              }

              &:disabled {
                &:hover {
                  background-color: var(--background-color-secondary);
                  color: var(--color-display);
                }
              }
            }
          }

          .status-message {
            padding: 0 0.625rem;
            color: var(--color-heading);
            text-align: center;
          }
        }

        .disclaimer {
          color: var(--color-caption);
          font-size: var(--font-size-caption);
          text-align: center;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.375rem;
        background: repeating-linear-gradient(
          60deg,
          var(--cyan),
          var(--cyan) 1.125rem,
          transparent 1.125rem,
          transparent 1.875rem,
          var(--red) 1.875rem,
          var(--red) 2.625rem,
          transparent 2.625rem,
          transparent 3.375rem
        );
        content: "";
      }

      &::after {
        display: block;
        position: absolute;
        top: 1.875rem;
        right: -0.75rem;
        width: 3.375rem;
        height: 3.375rem;
        padding: 0.75rem;
        transform: rotate(-30deg);
        border: 0.25rem double var(--background-color-primary);
        border-radius: 100%;
        content: "*";
        color: var(--background-color-primary);
        font-weight: 400;
        font-size: 7.5rem;
        line-height: 6rem;
        text-align: center;
        pointer-events: none;
      }
    }

    hr {
      border-top: 0.0625rem dashed var(--background-color-tertiary);
      background-color: transparent;
    }

    .testimonials-wrapper {
      display: flex;
      width: 100%;
      margin-top: 1.5rem;
      padding: 0 2.625rem 3rem;
      gap: 1.875rem;

      h3 {
        width: fit-content;
        min-width: 30%;
        padding-top: 1.5rem;

        em {
          font-style: normal;
          font-size: var(--font-size-body);
        }

        .disclaimer {
          color: var(--color);
          font-size: var(--font-size-caption);
        }
      }

      .testimonials {
        display: grid;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        width: 100%;
        margin: 0.75rem 0 0 0;
        padding: 0;
        gap: 0.75rem;
        list-style: none;

        .testimonial {
          display: flex;
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: 0;
          flex-direction: column;
          padding: 0.75rem 1.125rem;
          gap: 0.75rem;
          border: 0.0313rem solid var(--background-color-tertiary);
          corner-shape: squircle;
          border-radius: var(--radius-md);
          color: var(--color-heading);
          font-size: var(--font-size-caption);

          .author {
            color: var(--color-display);
            font-weight: 600;
            text-align: right;
          }
        }
      }
    }

    @media (max-width: 60rem) {
      .wrapper {
        max-width: 100%;

        h1,
        h2,
        .form-wrapper,
        .testimonials-wrapper {
          padding: 0 1.5rem;
        }

        .testimonials-wrapper {
          flex-direction: column;
          padding-bottom: 2.25rem;
        }
      }
    }
  }
}
