.markdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  // font-size: var(--text-02);
  color: var(--neutral-03);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.125rem 0 0 0;
    color: var(--neutral-01);
    font-size: 1.125rem;

    * {
      font-size: inherit;
    }
  }

  h1,
  h2,
  h3 {
    font-size: 1.875rem;
  }

  ol,
  ul {
    width: 100%;
    margin: 0;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
      width: 100%;

      a {
        text-decoration: underline var(--color);
      }
    }

    ol,
    ul {
      margin: 1em 0;
    }
  }

  a {
    padding: 0;
    color: var(--color);
    display: inline-flex;
  }

  p {
    margin: 0;
  }

  li > code,
  a > code,
  p > code,
  span > code,
  kbd {
    margin: 0 0.25em;
    padding: 0.5em;
    border-radius: var(--radius-01);
    text-shadow: hsla(0, 0%, 0%, 0.3) 0 0.0625rem;
    font-family: var(--font-jetbrains-mono);
    color: var(--neutral-02);
    background-color: var(--background-color-01);
  }

  em {
    color: var(--neutral-02);
  }

  blockquote {
    margin: 0;
    padding: 1em 1em 1em 3.5em;
    position: relative;
    border-radius: var(--radius-01);
    color: var(--neutral-01);
    background-color: var(--neutral-05);

    &:before {
      content: "✨";
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 1.5em;
      font-size: var(--text-03);
    }
  }

  pre {
    max-width: 100%;
    margin: 0;
    padding: 0.75rem 1.125rem;
    position: relative;
    overflow: auto;
    border-radius: var(--radius-01);
    background-color: var(--background-color-01);
    font-family: var(--font-jetbrains-mono);

    .codeblock {
      margin: 0 !important;
      padding: 0 !important;
      font-family: inherit !important;
      background-color: transparent !important;
    }

    code {
      overflow: auto;
      hyphens: none;
      tab-size: 4;
      white-space: pre;
      word-break: normal;
      word-spacing: normal;
      overflow-wrap: normal;
      line-height: 1.8;
      text-shadow: hsla(0, 0%, 0%, 0.3) 0 0.0625rem;
      text-align: left;
      font-family: inherit !important;
      color: var(--neutral-02);
      background-color: transparent;
    }
  }

  img {
    width: auto;
    max-width: 100%;
    object-fit: contain;
    background-color: var(--background-color-02);
  }
}
