.ebook {
  background: #2a2c37;
}

.ebook ::selection {
  background: #92ffff;
  color: #000;
}

.container {
  display: table;
  padding: 100px 15px;
  margin: auto;
  max-width: 72em;
}

.contentLeft {
  float: left;
  max-width: 50em;
  width: 40%;
}

.contentRight {
  float: right;
  margin: 0 auto;
  max-width: 50%;
}

.title {
  color: #92ffff;
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0 30px;
}

.body {
  color: #f2f2f2;
  font-size: 18px;
  margin-bottom: 20px;
}

.highlight {
  color: #92ffff;
}

.image {
  display: block;
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
}

.cta {
  transition: all .3s ease-in-out;
  margin-right: 20px;
  display: inline-block;
  background: #92ffff;
  text-align: center;
  color: #2a2c37;
  padding: 8px 16px;
  font-size: 16px;
}

.cta:hover,
.cta:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #92ffff;
  transform: translateY(-0.25em);
}

@media (max-width: 768px) {
  .contentLeft {
    float: none;
    max-width: 100%;
    width: auto;
  }

  .contentRight {
    float: none;
    max-width: 100%;
  }
}