.header {
  padding: 200px 15px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #50fa7b;
  margin: 0;
  font-size: 72px;
  text-align: center;
  font-family: 'Abril Text';
  font-weight: 700;
  height: 100px;
}

.slogan {
  color: #f2f2f2;
  text-align: center;
  font-size: 39px;
  font-weight: 500;
  height: 48px;
}

.cta {
  transition: all .3s ease-in-out;
  margin: 40px 0 0;
  display: inline-block;
  background: #50fa7b;
  text-align: center;
  color: #2a2c37;
  padding: 12px 24px;
  font-size: 18px;
  height: 24px;
}

.cta:hover,
.cta:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #50fa7b;
  transform: translateY(-0.25em);
}

@media (max-width: 768px) {
  .title {
    font-size: 56px;
    height: 78px;
  }

  .slogan {
    font-size: 31px;
    height: 39px;
  }
}