.testimonial {
  background: #1d1e26;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 60px 15px;
}

.container::before {
  content: "\"";
  float: left;
  color: #50fa7b;
  font-size: 68px;
  margin-right: 10px;
  display: block;
  height: 120px;
  margin-top: -10px;
}

.body {
  color: #f2f2f2;
  font-size: 18px;
  margin: 0;
}

.highlight {
  color: #50fa7b;
}

.author {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 50px;
}

.avatar {
  border-radius: 100%;
  margin-right: 10px;
  height: 70px;
  width: 70px;
}

.name {
  margin-bottom: 5px;
  font-size: 18px;
}

.bio {
  margin: 0;
  color: rgba(255, 255, 255, .5);
}

@media (max-width: 1040px) {
  .container::before {
    display: none;
  }

  .body {
    margin-bottom: 30px;
  }

  .body:last-child {
    margin: 0;
  }

  .author {
    margin-left: 0;
  }
}