.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.topbar {
  background: #1d1e26;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px 0px;
  justify-content: space-between;
}

.title {
  margin-left: 10px;
  color: #f2f2f2;
  display: inline-block;
  font-size: 18px;
}

.titlePro {
  color: rgba(80, 250, 123, 1);
}

.cta {
  transition: all 0.3s ease-in-out;
  margin-right: 90px;
  display: inline-block;
  background: #50fa7b;
  text-align: center;
  color: #2a2c37;
  padding: 8px 16px;
  font-size: 16px;
  height: 20px;
}

.cta:hover,
.cta:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #50fa7b;
  transform: translateY(-0.25em);
}
