.why {
  background-color: #212C2A;
  background-image: url(/static/img/pro/why-dracula.jpg);
  background-repeat: no-repeat;
  background-position: center left 50vw;
  background-size: 1200px;
}

.container {
  padding: 100px 15px;
  margin: auto;
  max-width: 72em;
}

.content {
  max-width: 30em;
  width: 40%;
}

.title {
  color: #8AFF80;
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0 30px;
}

.body {
  color: #f2f2f2;
  font-size: 18px;
  margin-bottom: 20px;
}

.highlight {
  color: #8AFF80;
}

@media (max-width: 768px) {
  .why {
    background-image: none;
  }

  .content {
    max-width: 100%;
    width: auto;
  }
}