#request-access {
  --color: var(--orange);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: var(--max-width);
  padding: 3rem 2.5rem;
  margin: -15rem 0 3rem 0;
  overflow: hidden;
  gap: 1.5rem;
  border: 0.125rem solid var(--neutral-05);
  border-radius: var(--radius-03);
  background-color: var(--background-color-02);
  z-index: 2;

  .borders {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
    pointer-events: none;

    .top,
    .bottom {
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.0313rem;
    }

    .top {
      top: 3rem;
      border-bottom: 0.0625rem dashed hsl(0, 0%, 16%);
    }

    .bottom {
      bottom: 3rem;
      border-top: 0.0625rem dashed hsl(0, 0%, 16%);
    }

    .left,
    .right {
      width: 0.0313rem;
      height: 100%;
    }

    .left {
      border-right: 0.0625rem dashed hsl(0, 0%, 16%);
    }

    .right {
      border-left: 0.0625rem dashed hsl(0, 0%, 16%);
    }
  }

  h1 {
    width: 100%;
    padding: 0 0.375rem;
    text-align: center;
    border-top: 0.0625rem dashed hsl(0, 0%, 16%);
    border-bottom: 0.0625rem dashed hsl(0, 0%, 16%);
  }

  .tip {
    position: absolute;
    top: 1.5rem;
    left: 80%;
    transform: translate(0, 0.75rem) rotate(-3deg);
    display: block;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-family: var(--font-caveat);
    font-size: 1rem;
    font-weight: 700;
    color: var(--orange);

    em {
      font-family: var(--font-satoshi);
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .request-access-form {
    width: 100%;
    padding: 0.75rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 0.0625rem dashed hsl(0, 0%, 16%);
    border-bottom: 0.0625rem dashed hsl(0, 0%, 16%);

    label {
      padding: 0 0.625rem 0.375rem;
      border-bottom: 0.0625rem dashed hsl(0, 0%, 16%);
    }

    .input-wrapper {
      display: flex;
      align-items: stretch;
      padding: 0 0.625rem;

      input,
      button {
        &:disabled {
          cursor: not-allowed;
        }
      }

      input {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        min-width: 0;
        padding: 0.75rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        outline: none;
        border-radius: var(--radius-01) 0 0 var(--radius-01);
        border-width: 0.125rem 0.125rem 0.0625rem 0.125rem;
        border-style: solid;
        border-color: var(--color);
        font-family: inherit;
        font-size: inherit;
        color: var(--neutral-02);
        background-color: var(--background-color-02);

        &:disabled {
          color: var(--yellow);
        }
      }

      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-width: 0.125rem 0.125rem 0.125rem 0.0625rem;

        &:hover {
          border-color: var(--color);
        }

        &:disabled {
          &:hover {
            color: var(--neutral-06);
            background-color: var(--yellow);
          }
        }
      }
    }

    .status-message {
      padding: 0 0.625rem;
      color: var(--neutral-01);
      text-align: center;
    }
  }

  .notes {
    width: 100%;
    max-width: 27rem;
    margin: -0.25rem 0 0 0;
    padding: 0.625rem 1.125rem 0.1875rem 0.625rem;
    border-top: 0.0625rem dashed hsl(0, 0%, 16%);
    border-bottom: 0.0625rem dashed hsl(0, 0%, 16%);
    text-wrap: pretty;

    p {
      font-weight: 600;
    }

    ul {
      margin-top: 0.5rem;
      padding: 0 0 0 1.125rem;
      font-size: 0.8125rem;

      li {
        margin: .375rem 0;
      }
    }

    a {
      color: var(--color);
    }
  }
}

@media screen and (max-width: 64rem) {
  #request-access {
    padding: 1.5rem 1.25rem;

    h1 {
      font-size: 1.875rem;
    }

    .tip {
      top: 0.25rem;
    }

    .borders {
      padding: 0 1.25rem;

      .top {
        top: 1.5rem;
      }

      .bottom {
        bottom: 1.5rem;
      }
    }

    .request-access-form {
      .input-wrapper {
        flex-direction: column;

        input {
          max-width: 100%;
          border-radius: var(--radius-01) var(--radius-01) 0 0;
        }

        button {
          width: 100%;
          border-radius: 0 0 var(--radius-01) var(--radius-01);
        }
      }
    }
  }
}