.copy-button {
  aspect-ratio: 1/1;
  height: fit-content;
  padding: 0.5em;

  .tick {
    display: none;
    transition: display 300ms var(--ease-elastic);

    path {
      stroke-dasharray: 24;
      stroke-dashoffset: 24;
    }
  }

  &.copied {
    .tick {
      display: block;
      color: var(--green);

      path {
        animation: drawTick 500ms var(--ease-fluid) forwards;
      }
    }
  }
}

@keyframes drawTick {
  to {
    stroke-dashoffset: 0;
  }
}
