.copy-button {
  aspect-ratio: 1/1;
  min-height: fit-content;
  padding: 0.5em;
  border-radius: 0.1875rem;

  .tick {
    display: none;
    transition: display 300ms var(--ease-elastic);

    path {
      stroke-dasharray: 24;
      stroke-dashoffset: 24;
    }
  }

  &.copied {
    .tick {
      display: block;
      color: var(--green);

      path {
        animation: draw-tick 500ms var(--ease-fluid) forwards;
      }
    }
  }
}

@keyframes draw-tick {
  to {
    stroke-dashoffset: 0;
  }
}
