.copy-button {
  aspect-ratio: 1/1;
  min-height: fit-content;
  padding: 0.5em;
  corner-shape: superellipse(1.2);
  border-radius: var(--radius-sm);

  &.copied {
    .tick {
      display: block;
      color: var(--green);

      path {
        animation: draw-tick 504ms var(--ease-fluid) forwards;
      }
    }
  }

  .tick {
    display: none;

    path {
      stroke-dasharray: 24;
      stroke-dashoffset: 24;
    }
  }
}

@keyframes draw-tick {
  to {
    stroke-dashoffset: 0;
  }
}
