.header {
	padding: 200px 15px 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 960px;
	margin: 0 auto;
}

.header ::selection {
	background: #ffff80;
	color: #000;
}

.title {
	color: #ffff80;
	margin: 0;
	font-size: 70px;
	text-align: center;
	font-family: "Fira Code", monospace;
	font-weight: 700;
}

.slogan {
	color: #f2f2f2;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
	line-height: 30px;
}

.screenshot {
	margin-top: 20px;
	max-width: 100%;
	border-radius: 8px;
}

@media (max-width: 768px) {
	.title {
		font-size: 56px;
	}
}
