.main {
  background: #282a36;
  padding: 80px 0 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 920px;
  padding-bottom: 80px;
}

.group {
  display: flex;
  flex-direction: row;
}

.label {
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  text-align: center;
  width: 165px;
}

.button {
  background: #282a36;
  border: 1px solid rgba(189, 147, 249, 1);
  color: #bcc2cd;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 400;
  outline: none;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: #fff;
}

.button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.buttonSelected {
  composes: button;
  background: rgba(189, 147, 249, 1);
  color: #000;
}

.buttonSelected:hover {
  color: #000;
}

.searchLabel {
  display: none;
}

.search {
  padding: 5px 20px;
  height: 37px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  background: #282a36;
  color: #fff;
  border: 1px solid rgba(189, 147, 249, 1);
  border-radius: 4px;
  width: 100%;
  outline: none;
  width: 345px;
  -webkit-appearance: textfield;
}

.search::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search::placeholder {
  color: #bcc2cd;
}

.results {
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
}

@media (max-width: 1080px) {
  .results {
    max-width: 720px;
  }

  .toolbar {
    flex-direction: column;
  }

  .group {
    margin: 0 auto 20px;
  }
}

@media (max-width: 720px) {
  .results {
    max-width: 360px;
  }
}
