.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  font-family: 'Fira Code', monospace;
  background: #22212C;
  color: #F8F8F2;
  text-align: center;
  padding: 70px 10px;
}

.comingSoon {
  color: #9580FF;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
}

.title {
  font-family: "Abril Text";
  font-size: 70px;
  font-weight: 700;
  height: 100px;
  margin: 20px 0 30px 0;
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  margin: 0 auto;
  max-width: 390px;
}

.buy {
  display: flex;
  justify-content: center;
  flex-direction: center;
  margin: 40px 0 0;
}

.cta {
  transition: all .3s ease-in-out;
  display: inline-block;
  background: #9580FF;
  text-align: center;
  color: #2a2c37;
  padding: 12px 24px;
  font-size: 18px;
  width: 180px;
}

.cta:hover,
.cta:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #9580FF;
  transform: translateY(-0.25em);
}

.body {
  background: #2A2C37;
  color: #F8F8F2;
  font-family: 'Fira Code', monospace;
  padding: 70px 10px;
  text-align: center;
}

.bodyTitle {
  font-size: 36px;
}

.bodyText {
  line-height: 24px;
  font-size: 17px;
  margin: 20px auto;
  max-width: 390px;
}

.bodyForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyForm input[type=email] {
  background: #22212C;
  color: #8aff80;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

.bodyForm input[type=submit] {
  background: #8aff80;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
}

.footer {
  background: #22212C;
  padding: 50px 10px;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.purple {
  color: #9580FF;
}