section.changelog {
  width: 100%;
  position: relative;

  .container {
    width: var(--max-width);
    max-width: 100%;
  }

  .logs-list {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    list-style: none;

    li {
      width: 100%;
      position: relative;

      article {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;

        .date {
          min-width: 12.5rem;
          word-break: keep-all;
          padding: 0 4rem 0 0;
          position: relative;
          font-size: 0.875rem;
          color: var(--color);

          span {
            position: sticky;
            top: 0;
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            transform: translateX(-50%);
            top: 0;
            left: 100%;
            background-color: var(--color);
          }

          &::before {
            width: 0.25rem;
            height: calc(100% + 6rem);
            border-radius: 0.125rem;
          }

          &::after {
            width: 0.5rem;
            height: 0.5rem;
            border: 0.375rem solid var(--neutral-05);
            border-radius: 50%;
          }
        }

        .content {
          width: 100%;
          padding: 4rem;
          display: grid;
          grid-auto-flow: row;
          grid-gap: 0.875rem;
          gap: 0.875rem;
          border-radius: 0 0.625rem 0.625rem 0;
          border: 0.125rem solid var(--neutral-05);
          background-color: var(--background-color-02);

          .content-wrapper {
            width: 100%;
            color: var(--neutral-03);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              margin: 1.125rem 0 0 0;
              color: var(--neutral-01);
              font-size: 1.125rem;
            }

            h1,
            h2,
            h3 {
              font-size: 1.875rem;
            }

            a {
              padding: 0;
              display: inline-flex;
              text-decoration: underline var(--color);
              color: var(--color);
            }

            img {
              width: 100%;
              margin: 1.125rem 0 1.5rem 0;
              border-radius: var(--radius-03);
            }
          }
        }

        .author {
          width: 100%;
          margin: 2rem 0 0 0;
          display: flex;
          align-items: center;
          gap: 1rem;

          .avatar {
            width: 1.625rem;
            height: 1.625rem;
            overflow: hidden;
            border-radius: 50%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .author-name {
            font-size: 0.75rem;
            font-weight: 700;
          }
        }
      }

      &:last-child {
        article {
          .date {
            &::before {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
