footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 0.125rem solid var(--neutral-05);
  font-size: 0.75rem;
  color: var(--neutral-03);

  .container {
    padding: 4.5rem 2.625rem;
    display: flex;
    align-items: stretch;
    gap: 2em;

    a {
      padding: 0;
      display: inline-flex;
      border: none;
      line-height: inherit;
      font-size: inherit;
      font-weight: 500;
      color: inherit;

      &:focus,
      &:hover {
        color: var(--neutral-01);
      }
    }

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      list-style: none;
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 1em;

      &-title {
        a {
          font-family: var(--font-satoshi);
          font-size: 0.875rem;
          font-weight: 700;
          color: var(--neutral-02);
        }
      }
    }
  }
}

@media screen and (max-width: 64rem) {
  footer {
    .container {
      flex-direction: column;
    }
  }
}
