article.features {
  width: 100%;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  gap: 2.625rem;

  .title-wrapper {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
  }

  .cards-wrapper {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    gap: 1.5rem;

    .row {
      align-items: stretch;
      gap: 1.5rem;
    }

    .card-spotlight {
      .icon {
        width: 2.625rem;
        height: 2.625rem;
        margin: 0 0 0.75rem 0;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-01);
        color: var(--neutral-06);
        background-color: var(--color);

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &.geometric-color-palette {
        --color: var(--cyan);
        --spotlight-hue: 180;

        padding: 0;

        .content {
          display: flex;
          align-items: stretch;
          gap: 1.875rem;

          .description {
            padding: 3.75rem 0 3.75rem 1.875rem;
          }
        }

        .wheels-wrapper {
          display: flex;
          flex-flow: wrap column;
          align-items: center;
          justify-content: center;
          mask-image: linear-gradient(
            to right,
            hsl(var(--main-hue), 0%, 0%, 0),
            hsl(var(--main-hue), 0%, 0%, 1) 20%,
            hsl(var(--main-hue), 0%, 0%, 1) 80%,
            hsl(var(--main-hue), 0%, 0%, 0)
          );
          background-image: url("/images/pro/palette.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          .wheel {
            --y: -1.5rem;
            --x: -0.75rem;
            --speed: 5s;

            will-change: transform;
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
            border: 0.25rem solid var(--neutral-05);
            background-image: radial-gradient(
                hsl(0, 0%, 100%),
                hsla(0, 0%, 100%, 0) 95%
              ),
              conic-gradient(
                hsl(0, 100%, 67%),
                hsl(65, 92%, 76%),
                hsl(135, 94%, 65%),
                hsl(265, 89%, 78%),
                hsl(0, 100%, 67%)
              );
            box-shadow: var(--box-shadow-03);
            animation: upDown var(--speed) alternate infinite;
            z-index: 2;

            .indicator {
              padding: 20%;
              position: absolute;
              inset: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              mix-blend-mode: overlay;
              animation: rotate-center 24s ease-in-out infinite both;

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
              }
            }

            &::before {
              content: "CLASSIC";
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
              font-family: var(--font-satoshi);
              font-weight: 900;
              color: var(--neutral-05);
              z-index: 2;
            }

            &.pro {
              --y: -0.75rem;
              --x: 1.5rem;
              --speed: 4s;

              width: 12rem;
              height: 12rem;
              filter: saturate(3);
              background-image: radial-gradient(
                  hsl(0, 0%, 100%),
                  hsla(0, 0%, 100%, 0) 95%
                ),
                conic-gradient(
                  var(--red),
                  var(--pink),
                  var(--purple),
                  var(--cyan),
                  var(--green),
                  var(--yellow),
                  var(--orange),
                  var(--red)
                );

              &:before {
                content: "PRO";
                font-size: var(--title-01);
              }
            }

            &:focus,
            &:hover {
              transform: scale(2);
              animation-play-state: paused;
            }
          }
        }
      }

      &.easy-on-the-eyes {
        --color: var(--green);
        --spotlight-hue: 115;
      }

      &.less-context-switch {
        --color: var(--yellow);
        --spotlight-hue: 60;
      }

      &.precise-contrast {
        --color: var(--orange);
        --spotlight-hue: 35;
      }

      &.hand-picked-typography {
        --color: var(--purple);
        --spotlight-hue: 250;

        padding: 0;

        .content {
          display: flex;
          align-items: stretch;
          gap: 1.875rem;

          .description {
            padding: 3.75rem 0 3.75rem 1.875rem;
          }

          .animation {
            padding: 1.5rem;
            background-color: hsl(251, 14%, 16%);

            video {
              width: 100%;
              height: 100%;
              mix-blend-mode: lighten;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 64rem) {
  article.features {
    .cards-wrapper {
      flex-flow: wrap column;

      .card-spotlight {
        width: 100%;
        padding: 1.875rem;
        flex: unset;

        .content {
          width: 100%;
        }

        &.geometric-color-palette,
        &.hand-picked-typography {
          .content {
            flex-flow: wrap column;

            .description {
              padding: 1.875rem 1.875rem 0 1.875rem;
            }
          }
        }

        &.geometric-color-palette {
          .wheels-wrapper {
            mask-image: linear-gradient(
              to top,
              hsl(var(--main-hue), 0%, 0%, 0),
              hsl(var(--main-hue), 0%, 0%, 1) 20%,
              hsl(var(--main-hue), 0%, 0%, 1) 80%,
              hsl(var(--main-hue), 0%, 0%, 0)
            );
          }
        }
      }
    }
  }
}

@keyframes upDown {
  from {
    transform: translateY(calc(var(--y) * -0.5)) translateX(var(--x));
  }
  to {
    transform: translateY(var(--y)) translateX(var(--x));
  }
}

@keyframes rotate-center {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
