footer {
  display: flex;
  flex-direction: column;
  padding: 4em 0;
  gap: 3.5em;
  border-top: 0.0625rem solid var(--background-color-tertiary);

  h3 {
    color: var(--color-display);
    font-size: var(--font-size-body);
  }

  .container {
    display: flex;
    padding: 2em var(--page-padding-horizontal) 0;
    gap: 2rem;

    div {
      width: fit-content;
      min-width: 14%;

      .logo {
        color: var(--color-display);
        font-weight: 600;
        font-size: 0.875rem;
      }

      h3 {
        margin-bottom: 1.5rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 0.1875rem;
        list-style: none;

        li {
          a {
            display: block;
            min-height: 1.875rem;
            color: var(--color-caption);
            transition: color 300ms var(--ease-fluid);

            &:focus,
            &:hover {
              color: var(--color-display);
            }
          }
        }
      }

      &:first-child {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        gap: 1em;
        line-height: 1.8;

        a {
          color: var(--color-heading);
          font-weight: 600;
          transition: color 300ms var(--ease-fluid);

          &:focus,
          &:hover {
            color: var(--color-display);
          }
        }
      }

      &:last-child {
        margin-right: 1.5rem;
      }

      &:not(:first-child) {
        padding-left: 1.5rem;
      }
    }
  }

  hr {
    max-width: var(--page-max-width);
  }

  .newsletter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--page-max-width);
    padding: 0 var(--page-padding-horizontal);

    div {
      color: var(--color-caption);
      line-height: 1.8;

      h3 {
        margin-bottom: 1rem;
      }

      .form {
        display: flex;
        margin-bottom: 0.75rem;
        gap: 0.75rem;

        input[type="email"] {
          position: relative;
          width: auto;
          min-width: 16rem;
          height: 2.5rem;
          padding: 0.75rem;
          border: none;
          border-radius: 0.5rem;
          outline-color: transparent;
          background-color: var(--background-color-secondary);
          transition:
            background-color 300ms var(--ease-fluid),
            color 300ms var(--ease-fluid),
            outline 300ms var(--ease-fluid);

          &::placeholder {
            color: var(--color-body);
          }

          &:hover,
          &:focus,
          &:focus-visible {
            outline-color: var(--background-color-tertiary);
            outline-style: solid;
            outline-width: 0.125rem;
          }
        }

        .action {
          height: 2.5rem;
          border-radius: 0.5rem;
        }
      }

      span {
        display: inline-flex;
        padding: 0 0.25rem;
        font-size: var(--font-size-caption);
      }

      &:first-child {
        width: fit-content;
      }

      &:last-child {
        width: min-content;
      }
    }
  }
}
