.container {
  &.blog {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;

    ul {
      display: grid;
      margin: 0;
      padding: 0;
      gap: 1.875rem;
      list-style: none;

      &:first-child {
        grid-template-columns: 1fr 1fr;

        a {
          max-height: 26rem;
        }
      }

      &:last-child {
        grid-template-columns: 1fr 1fr 1fr;

        a {
          max-height: 20rem;
        }
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 1.125rem;
        gap: 1.125rem;
        border-radius: var(--radius-lg);
        outline-color: transparent;
        outline-style: solid;
        outline-width: 0.0625rem;
        background-color: var(--background-color-secondary);
        animation-timeline: view();
        animation-duration: var(--duration-slow);
        animation-timing-function: var(--ease-elastic);
        animation-fill-mode: both;
        animation-name: items-fade-in;
        animation-range: entry 0 cover 30%;
        will-change: transform, opacity;

        &:focus-visible,
        &:hover {
          outline-color: var(--background-color-tertiary);
          transition: outline-color var(--duration-standard) var(--ease-fluid);
        }

        .cover {
          position: relative;
          flex: 1;
          overflow: hidden;
          border-radius: var(--radius-sm);
          background-color: var(--background-color-tertiary);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          width: 100%;
          line-height: 1.8;

          h3,
          p {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
          }

          h3 {
            -webkit-line-clamp: 1;
            line-clamp: 1;
          }

          p {
            -webkit-line-clamp: 2;
            line-clamp: 2;
          }

          .meta {
            margin-top: 1em;
            color: var(--color-caption);
            font-size: var(--font-size-caption);
          }
        }
      }
    }

    @media (max-width: 60rem) {
      gap: 1.875rem;

      ul {
        &:first-child,
        &:last-child {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@keyframes items-fade-in {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
