.container {
  &.blog {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;

    nav {
      position: relative;
      width: 100%;

      fieldset {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
        border: none;

        label {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 2.25rem;
          padding: 0.5rem 0.75rem;
          gap: 0.5em;
          border: none;
          corner-shape: squircle;
          border-radius: var(--radius-sm);
          outline-color: transparent;
          outline-style: solid;
          outline-width: 0.0625rem;
          background-color: var(--background-color-primary);
          font-weight: 600;
          transition:
            outline-color var(--duration-standard) var(--ease-fluid),
            color var(--duration-standard) var(--ease-fluid);

          &:focus-visible,
          &:hover {
            outline-color: var(--background-color-tertiary);
            color: var(--color);
          }

          &:has(input[type="radio"]:checked) {
            padding-right: 0.875rem;
            color: var(--color);
          }

          input[type="radio"] {
            display: none;

            &:checked + .icon {
              display: block;
              color: var(--color);

              path {
                animation: draw-tick 540ms var(--ease-fluid) forwards;
              }
            }
          }

          .icon {
            display: none;

            path {
              stroke-dasharray: 24;
              stroke-dashoffset: 24;
            }
          }
        }
      }
    }

    ul {
      display: grid;
      margin: 0;
      padding: 0;
      gap: 1.875rem;
      list-style: none;

      &.highlighted-posts {
        grid-template-columns: 1fr 1fr;

        a {
          max-height: 26rem;
        }
      }

      &.regular-posts {
        grid-template-columns: 1fr 1fr 1fr;

        a {
          max-height: 20rem;
        }
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 1.125rem;
        gap: 1.125rem;
        border-radius: var(--radius-lg);
        outline-color: transparent;
        outline-style: solid;
        outline-width: 0.0625rem;
        background-color: var(--background-color-secondary);
        animation-duration: var(--duration-slow);
        animation-timing-function: var(--ease-elastic);
        animation-fill-mode: both;
        animation-name: items-fade-in;
        animation-timeline: view();
        animation-range: entry 0 cover 30%;
        will-change: transform, opacity;

        &:focus-visible,
        &:hover {
          outline-color: var(--background-color-tertiary);
          transition: outline-color var(--duration-standard) var(--ease-fluid);
        }

        .cover {
          position: relative;
          flex: 1;
          overflow: hidden;
          border-radius: var(--radius-sm);
          background-color: var(--background-color-tertiary);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          width: 100%;
          line-height: 1.8;

          h3,
          p {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
          }

          h3 {
            -webkit-line-clamp: 1;
            line-clamp: 1;
          }

          p {
            -webkit-line-clamp: 2;
            line-clamp: 2;
          }

          .meta {
            margin-top: 1em;
            color: var(--color-caption);
            font-size: var(--font-size-caption);
          }
        }
      }
    }

    @media (max-width: 60rem) {
      gap: 1.875rem;

      ul {
        &.highlighted-posts,
        &.regular-posts {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@keyframes draw-tick {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes items-fade-in {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
