.blog {
  display: flex;
  flex-direction: column;
  gap: 2.625rem;

  ul {
    display: grid;
    margin: 0;
    padding: 0;
    gap: 2rem;
    list-style: none;

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: var(--spacing-large);
      gap: var(--spacing-large);
      border-radius: 0.75rem;
      outline-color: transparent;
      background-color: var(--background-color-secondary);
      box-shadow: var(--box-shadow-secondary);
      animation: itemsFadeIn var(--ease-elastic) both;
      transition:
        background-color 250ms var(--ease-fluid),
        outline 250ms var(--ease-fluid);
      animation-timeline: view();
      animation-range: entry 0 cover 25%;

      .cover {
        position: relative;
        flex: 1;
        overflow: hidden;
        border-radius: 0.5rem;
        background-color: var(--background-color-tertiary);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 1.8;

        .meta {
          margin-top: 1em;
          color: var(--color-caption);
          font-size: var(--font-size-caption);
        }

        h4,
        p {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }

        h4 {
          -webkit-line-clamp: 1;
          line-clamp: 1;
        }

        p {
          -webkit-line-clamp: 2;
          line-clamp: 2;
        }
      }

      &:hover,
      &:focus,
      &:focus-visible {
        outline-color: var(--background-color-tertiary);
        outline-style: solid;
        outline-width: 0.125rem;
        background-color: var(--background-color-primary);
      }
    }

    &:first-child {
      grid-template-columns: 1fr 1fr;

      a {
        max-height: 26rem;
      }
    }

    &:last-child {
      grid-template-columns: 1fr 1fr 1fr;

      a {
        max-height: 20rem;
      }
    }
  }
}

@keyframes itemsFadeIn {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
