.changelog {
  --cyan: hsl(170, 100%, 75%);
  --green: hsl(115, 100%, 75%);
  --orange: hsl(35, 100%, 75%);
  --pink: hsl(330, 100%, 75%);
  --purple: hsl(250, 100%, 75%);
  --red: hsl(10, 100%, 75%);
  --yellow: hsl(60, 100%, 75%);

  box-sizing: border-box;
  line-height: 1.5;

  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-auto-flow: row;
  align-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  font-family: "Fira Code", monospace;
  color: hsl(0, 0%, 100%);
  background-color: hsl(233deg, 13%, 13%);
}

.container {
  width: 64rem;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  padding: 10rem 10% 6rem 10%;
  position: relative;
  background-color: hsl(231, 13%, 19%);
  background-image: url("/static/img/pro/changelog/pattern.png");
  background-size: 40%;
  background-position: left;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

.titleP,
.titleS,
.titleT {
  width: 100%;
}

.titleP {
  font-family: "Fira Code", monospace;
  font-size: 3rem;
  font-weight: 700;
  color: var(--green);
}

.titleS {
  font-family: "Fira Code", monospace;
  font-size: 1.5rem;
  font-weight: 700;
}

.titleT {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  font-weight: 400;
}

.rssLink {
  margin: 0;
  padding: 1rem 1rem 0.75rem 1rem;
  position: absolute;
  bottom: 0;
  right: 12%;
  display: block;
  border-radius: 0.625rem 0.625rem 0 0;
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  color: var(--orange);
  background-color: hsl(233deg, 13%, 13%);
}

.logs {
  margin: 0;
  padding: 4rem 0;
  position: relative;
  list-style: none;
}

.logs li {
  padding: 2rem 0 4rem 0;
}

.logs li article {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.logs li:last-child article .date::before {
  height: 100%;
}

.date {
  min-width: 7.25rem;
  word-break: keep-all;
  padding: 0 4rem 0 0;
  position: relative;
  font-size: 0.875rem;
  color: var(--item-color);
}

.date::before,
.date::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 100%;
  background-color: var(--item-color);
}

.date::before {
  width: 0.125rem;
  height: calc(100% + 6rem);
  border-radius: 0.125rem;
}

.date::after {
  width: 0.5rem;
  height: 0.5rem;
  border: 0.375rem solid hsl(245, 14%, 15%);
  border-radius: 50%;
}

.date span {
  position: sticky;
  top: 0;
}

.content {
  width: 100%;
  padding: 4rem;
  display: grid;
  grid-auto-flow: row;
  gap: 0.875rem;
  border-radius: 0 0.625rem 0.625rem 0;
  background-color: hsla(0, 0%, 100%, 0.025);
}

.content .titleS {
  color: var(--item-color);
}

.logContent {
  width: 100%;
  font-size: 0.75rem;
  line-height: 2;
}

.logContent h1,
.logContent h2,
.logContent h3,
.logContent h4,
.logContent h5,
.logContent h6 {
  margin: 1.75rem 0 0.75rem 0;
  font-size: 1rem;
  color: var(--item-color);
}

.logContent ul {
  margin: 1rem;
}

.logContent ul li {
  margin: 0;
  padding: 0.5rem 0;
}

.logContent img {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.logContent a {
  text-decoration: underline;
  color: var(--item-color);
}

.author {
  width: 100%;
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 1.625rem;
  height: 1.625rem;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authorName {
  font-size: 0.75rem;
  font-weight: 700;
}

@media (max-width: 80rem) {
  .container {
    width: 100%;
  }

  .logs {
    padding: 0 10% 4rem 10%;
  }

  .logs li article {
    position: relative;
    flex-flow: wrap column;
  }

  .logs li article::before,
  .logs li article::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: -1.5rem;
    background-color: var(--item-color);
  }

  .logs li article::before {
    width: 0.125rem;
    height: 100%;
    border-radius: 0.125rem;
  }

  .logs li article::after {
    width: 0.5rem;
    height: 0.5rem;
    border: 0.375rem solid hsl(245, 14%, 15%);
    border-radius: 50%;
  }

  .content {
    padding: 2rem;
    border-radius: 0.625rem;
  }

  .date {
    padding: 0 0 1rem 0;
  }

  .date::before,
  .date::after {
    display: none;
  }

  .author {
    margin: 1rem 0 0 0;
  }
}
