.pro-banner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.75rem;
  overflow: hidden;
  border-width: 0.0313rem 0.0625rem 0.0313rem 0.0313rem;
  border-style: solid;
  border-radius: 0.375rem;
  border-color: var(--color);
  background-color: var(--background-color-primary);
  color: var(--color-display);

  .cube-wrapper {
    --size: 2.625rem;
    --perspective: 12.5rem;

    position: absolute;
    top: 0.75rem;
    left: 84%;
    filter: drop-shadow(0 0 0.0313rem var(--color));
    perspective: var(--perspective);
    perspective-origin: 50% 0%;
    pointer-events: none;
    transition: transform 240ms var(--ease-elastic);

    .cube {
      position: relative;
      width: var(--size);
      height: var(--size);
      transform-origin: 50% 50% calc(var(--size) * 0.5);
      transform-style: preserve-3d;
      animation: rotate 10000ms linear infinite;

      .face {
        position: absolute;
        width: var(--size);
        height: var(--size);
        transform-origin: 50% 50% calc(var(--size) * 0.5);
        transform-style: preserve-3d;

        &:nth-child(1) {
          transform: rotateY(90deg);
          background-color: hsl(var(--main-hue), 100%, 30%);
        }

        &:nth-child(2) {
          transform: rotateY(180deg);
          background-color: hsl(var(--main-hue), 100%, 42%);
        }

        &:nth-child(3) {
          transform: rotateY(-90deg);
          background-color: hsl(var(--main-hue), 100%, 54%);
        }

        &:nth-child(4) {
          transform: rotateX(90deg);
          background-color: hsl(var(--main-hue), 100%, 66%);
        }

        &:nth-child(5) {
          transform: rotateX(-90deg);
          background-color: hsl(var(--main-hue), 100%, 78%);
        }

        &:nth-child(6) {
          background-color: hsl(var(--main-hue), 100%, 90%);
        }
      }
    }
  }

  .texture {
    position: absolute;
    inset: 0;
    filter: contrast(60%) brightness(100%);
    opacity: 0.12;
    pointer-events: none;
  }

  span {
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: var(--font-size-caption);
  }

  p {
    margin-top: 0.5em;

    em {
      font-style: normal;
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    pointer-events: none;
  }

  &::after {
    inset: 0;
    background: linear-gradient(30deg, transparent 24%, var(--color));
    opacity: 0.24;
  }

  &::before {
    top: 48%;
    left: 84%;
    aspect-ratio: 1 / 1;
    width: 50%;
    height: 50%;
    transform: skewX(54deg);
    background: linear-gradient(to top left, transparent 36%, var(--color));
    opacity: 0.06;
    transition: opacity 240ms var(--ease-fluid);
  }

  &:hover {
    .cube-wrapper {
      transform: translateY(-0.5rem);
    }

    &::before {
      background: linear-gradient(to top left, transparent 12%, var(--color));
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0) rotateX(1turn) rotateZ(0);
  }
  to {
    transform: rotateY(1turn) rotateX(0) rotateZ(1turn);
  }
}
