.anchor-heading {
  position: relative;
  scroll-margin: 6rem;

  &:target,
  &:focus-within,
  &:hover {
    a {
      opacity: 1;
    }
  }

  .anchor-link {
    position: absolute;
    top: calc(50% - 0.0625rem);
    right: calc(100% + 0.375rem);
    transform: translateY(-50%);
    font-size: var(--font-size-caption);
    line-height: 1;
    font-family: var(--font-mono);
    text-decoration: none;
    opacity: 0;
    transition:
      opacity var(--duration-slow) var(--ease-fluid),
      color var(--duration-standard) var(--ease-fluid);
  }
}
