article.alucard {
  color: var(--neutral-06);

  .card-plain {
    width: 100%;
    padding: 0 0 0 3rem;
    gap: 3rem;
    background-color: var(--neutral-01);
    background-image: linear-gradient(90deg, var(--neutral-01) 0%, var(--neutral-01) 48%, var(--purple) 100%);

    .content {
      padding: 3.75rem 0;
      text-wrap: balance;
    }

    .title {
      width: 100%;
      color: var(--neutral-06);
    }

    .bg {
      transform: skew(360deg, 10deg) scale(1.2);
      background-image: url("/images/pro/vscode/7.png");
      background-size: cover;
    }
  }
}

@media screen and (max-width: 64rem) {
  article.alucard {
    .card-plain {
      padding: 0;
      flex-direction: column;
      background-image: linear-gradient(180deg, var(--neutral-01) 0%, var(--neutral-01) 48%, var(--purple) 100%);

      .content {
        padding: 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .bg {
        padding: 12rem;
        transform: skew(360deg, 10deg);
      }
    }
  }
}